body {
    background-color: #F3E9D2;
}
.
product-filter {
    display: flex;
}

.product-filter h1 {
    flex-grow: 1;
    font-family:'Lucida Handwriting';
    color: #513C2C;
}

.sort {
    display: flex;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 2%;
    flex: 1 16%;
    display: flex;
    
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-image:hover img {
    opacity: 0.5;
}

img {

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.product-info {
    text-align: center;
    flex-wrap: wrap;
    display: block;
    margin-block-start: auto;
}

@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

.products .product-card:first-child,
.products .product-card:nth-child(2) {
    flex: 2 46%;
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}

@media (max-width: 400px) {
    .product-filter {
        flex-direction: column;
    }
    .sort {
        align-self: flex-start;
    }
}

.product-info h5 {
    font-family:'Lucida Handwriting';
    justify-content: baseline;
    color: #A37B73;
}

.product-info h4 {
    font-family:"Sofia", sans-serif; 
    justify-content: baseline;
    color: #A37B73; 
}

